<article class="doc lost">
<h1 class="page">{{{or page.title 'I fo !'}}}</h1>
<div class="paragraph">
  <h2>Nous avons fait un peu de ménage sur le site.</h2>  
  <p>La page que vous cherchez est la!  Vous pouvez sans doute le retrouver sur le menu à gauche.  Notez bien qu'il y a deux parties 
  du site. Les documents et le blog. Vous pouvez aussi basculer entre les document et le blog avec la navigation en bas a gauche.</p>  
  </p>Vous pouvez aussi {{#with site.homeUrl}} retourner à  <a id="return-link" href="{{{this}}}">l'acceuil</a>, ou{{/with}} suivre les liens à gauche.</p>
  <p>Merci de nous visiter!</>
</div>
<div class=content>
</div>
<div class="paragraph">
<h2>We have done some housecleaning.</h2>  
<p>Stuff is moved but it is still around. You can try {{#with site.homeUrl}} return to the <a id="return-link" href="{{{this}}}">start page</a>, 
or{{/with}} follow one of the links in the navigation on the left.</p>
<p>Alternatively, you could try the categories menu above.</p>
  <p>Thanks for visiting !</>
</div>
</article>
<script>
;(function (pathname, returnLink) {
  if (!returnLink) return
  var startPages = [
    {{#each site.components}}
    { name: "{{{./name}}}", title: "{{{./title}}}", url: "{{{@root.site.path}}}{{{./url}}}", prefix: "{{{@root.site.path}}}/{{{./name}}}" },
    {{#each ./versions}}
    {{#if ./version}}
    { name: "{{{./name}}}", title: "{{{./title}}}", version: "{{{./version}}}", url: "{{{@root.site.path}}}{{{./url}}}", prefix: "{{{@root.site.path}}}/{{{./name}}}/{{{./version}}}" },
    {{/if}}
    {{/each}}
    {{/each}}
  ].reduce(function (accum, it) {
    var prefix = it.prefix
    delete it.prefix
    if (('version' in it) && !it.url.startsWith(prefix + '/')) {
      var prefixSegments = prefix.split('/')
      var versionSegmentIdx = prefixSegments.findIndex((segment) => segment === it.version)
      prefixSegments.splice(versionSegmentIdx, 1, it.url.split('/')[versionSegmentIdx])
      prefix = prefixSegments.join('/')
    }
    accum[prefix] = it
    return accum
  }, {})
  var returnTo
  var segments = pathname.split('/').slice(0, -1)
  while (segments.length > 1) {
    if ((returnTo = startPages[segments.join('/')])) break
    segments.pop()
  }
  if (returnTo) {
    returnLink.href = returnTo.url
    returnLink.innerText =
      'start page for the ' + returnTo.title + ' ' +
      (returnTo.version ? returnTo.version + ' ' : '') +
      'documentation'
  }
})(window.location.pathname, document.getElementById('return-link'))
</script>
