{{#if (and page.fileUri (not env.CI))}}
<div class="edit-this-page">fileuri<a href="{{page.fileUri}}"><img class="pencil">Edit Page</a></div>
{{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
<div class="edit-this-page"><a href="{{page.editUrl}}"><img class="pencil">Edit Page</a></div>
{{/if}}
