<div class="navbar-item search hide-for-print">
  <form method="get" id="search-google" action="http://www.google.com/search" target="_blank">
    <input type="hidden" name="sitesearch" value="coastsystems.net" />
    <input type="text" name="q" maxlength="255" value="" placeholder="Search via Google" class="form-control" />
  </form>
</div>
