    {{!-- Add additional meta tags here --}}
    {{!-- twitter --}}
    <link rel="me" href="https://twitter.com/boydkelly">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@boydkelly">

    {{#with page.title}}
    <meta name="twitter:title" content="{{this}}">
    {{/with}}

   {{#with page.canonicalUrl}}
    <meta name="twitter:url" content="{{{this}}}">
    {{/with}}

    {{#if (ne page.attributes.image undefined)}}
    <meta name="twitter:image" content="{{#with site.url}}{{{this}}}{{/with}}/{{page.component.name}}/{{page.version}}/_images/{{page.attributes.image}}">
    {{else}}
    <meta name="twitter:image" content="{{#with site.url}}{{this}}{{/with}}/_/img/wulufato-square.jpg">
    {{/if}}

    {{!-- og metadata --}}
    {{#with page.title}}
    <meta property="og:title" content="{{this}}" />
    {{/with}}

   {{#with page.canonicalUrl}}
    <meta property="og:url" content="{{{this}}}" />
    {{/with}}

    {{#if (eq page.attributes.image undefined) }}
    <meta property="og:image" content="{{#with site.url}}{{{this}}}{{/with}}/_/img/w100.svg">
    {{else}}
    <meta property="og:image" content="{{#with site.url}}{{{this}}}{{/with}}/{{page.component.name}}/{{page.version}}/{{page.module}}/_images/{{page.attributes.image}}">
    {{/if}}

{{#with page.version}}
    <meta property="og:locale" content="{{this}}" />
    {{#if (eq page.version "fr") }}
    <meta property="og:locale:alternate" content="fr_FR" />
    {{/if}}
    {{#if (eq page.version "en") }}
    <meta property="og:locale:alternate" content="en_US" />
    {{/if}}
{{/with}}

    {{!-- Google please don't index with page-noindex --}}
    {{#if (ne page.attributes.noindex undefined)}}
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="bingbot" content="noindex" />
    {{else}}
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    {{/if}}

    {{#with page.versions}}
      {{#each this}}
        {{#unless ./missing }}
          <link rel="alternate" hreflang="{{./version}}" href="{{{@root.site.url}}}{{{url}}}" >
        {{/unless}}
      {{/each}}
    {{/with}}

