<link id="theme" rel="stylesheet" title="Default" href="{{{uiRootPath}}}/css/site.css">
{{#if (eq page.attributes.role 'home')}}
<link id="home" rel="stylesheet" title="Home" href="{{{uiRootPath}}}/css/home.css">
<meta name="home" content="This is the home page">
{{/if}}
