{{#if env.SITE_SEARCH_PROVIDER}}
<div class="navbar-item search hide-for-print">
  <div class="charsmenu">
    <ul>
      <li role="menuitem">ɲ</li>
      <li role="menuitem">ŋ</li>
      <li role="menuitem">ɛ</li>
      <li role="menuitem">ɔ</li>
    </ul>
  </div>
  <div id="search-field" class="field has-filter">
    <input id="search-input" type="text" placeholder=""{{#if page.home}} autofocus{{/if}}>
    <label class="filter checkbox" style="display: none">
      <input type="checkbox" data-facet-filter="component:{{page.component.name}}" checked> In this project
    </label>
  </div>
</div>
{{/if}}
