    <div class="navbar-brand">
      {{#with site.homeUrl}}
      <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}" title="Home"></a>
      {{/with}}
      {{#each (rearrange site.components 'name' componentOrder)}}
      <a class="navbar-item{{#if (eq this @root.page.component)}} is-current{{/if}} component" href="{{{@root.site.url}}}/{{./name}}/{{{@root.page.version}}}">{{{./title}}}</a>
      {{/each}}
      {{> navbar-lang-mobile}}
      {{> navbar-lang-desktop}}
        <div class="navbar-item is-desktop">
        <button class="theme-cycle" id="cycle-theme" type="submit">
        </button>
        </div>
      <button class="navbar-burger" data-target="topbar-nav" aria-label="navbar">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
