{{#with page.versions}}
<div id="page-lang" class="tabs ulist">
<ul>
  {{#each this}}
  {{#unless ./missing ~}}
  {{~#if (ne ./version @root.page.version)}}
  <li>
    <a href="{{{relativize ./url}}}">
      {{./displayVersion}}</a>
  </li>
  {{else}}
  <li class="is-active">
    {{./displayVersion}}
  </li>
  {{/if~}}
  {{~/unless~}}
  {{/each}}
</ul>
</div>
{{/with}}
