{{#with page.versions}}
<div class="page-languages">
  <button disabled type="button" class="language-menu-toggle" id="page-lang" title="Document Language">{{@root.page.componentVersion.displayVersion}}</button>
    {{#each this}}
    {{#unless ./missing ~}}
    {{~#unless (eq ./version @root.page.version) ~}}
    <button type="button" class="language">
    <a class="" href="{{{relativize ./url}}}">{{./displayVersion}}</a>
    </button>
    {{~/unless~}}
    {{~/unless~}}
    {{/each}}
</div>
{{/with}}
