/* try not to display two markers!! */

/* home css */

/* .doc h3 { */
/*   margin-top: 2rem; */
/* } */

.sidebarblock.overview-banner {
  padding: 0.2rem 0;
  border-radius: var(--radius-blob-1);
}

.sidebarblock.overview-banner > .content > .title {
  font-style: italic;
  font-family: var(--nav-font-family);
  font-size: var(--font-size-fluid-0);
  color: var(--magneta);
}

/* turn this off for now */
a#link_proverb {
  display: none;
}

.doc details {
  margin-top: .5rem;
  border: 1px solid var(--surface-4);
  border-radius: var(--radius-2);
  color: var(--gray-7);
  font-size: var(--font-size-fluid-1);
  font-style: italic;
  background: var(--cyan-100);
}

.doc details summary {
  font-style: normal;
  color: var(--gray-7);
  padding-inline-start: 3rem;
  text-indent: -1.5rem;
}

.doc details summary.title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  background: var(--cyan-100);
  border-radius: var(--radius-2);
}

.doc details > .content {
  /* if you put this in the details it wrecks the padding */
  font-size: var(--font-size-fluid-1);
  background-color: var(--teal-100);
  padding-inline-start: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  border-radius: var(--radius-2);
}

/* .doc details > .content p { */
/*   font-size: var(--font-size-fluid-1); */
/* } */

.doc ::marker {
  color: var(--teal-300);
}
