body {
  padding-top: 0rem;
}

.navbar {
  font-size: var(--font-size-1);
  background-color: var(--navbar-background);
  box-shadow: var(--shadow-2);
  position: unset;
}

.navbar-brand .navbar-item {
  margin: 0 0;
}

/* as much space as we can get between elements on mobile */
.navbar-item {
  padding: 0.3rem 0.4rem;
}

/* a.navbar-item { */
/*   margin-inline: 0px; */
/* } */
/**/
.navbar a:visited {
  color: inherit;
}

.navbar-link {
  padding: 0.5rem 1.5rem 0.5rem 0.7rem;
}

/* fix lang menu 1st child in brand */
.navbar-brand .navbar-item:first-child {
  /* make same as items in navbar-end */
  padding: 0.5rem 3rem 0.5rem 1rem;
  font-size: var(--font-size-1);
}

.navbar-end {
  /* fix esp for mobile */
  padding-left: 1rem;
  align-items: center;
}

.navbar-brand {
  font-size: var(--font-size-1);
  align-items: center;
  padding-left: 0;
}

.is-desktop,
.navbar-item.has-dropdown.is-hoverable.is-desktop {
  display: none;
}

div#more div.navbar-link {
  display: none;
}

.navbar-language {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 0.5rem;
}

.is-mobile > .nav-item {
  padding: 0.3rem;
}

.navbar-item .globe {
  margin-right: 0.3em;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 1024px) {
  .is-desktop {
    display: flex;
  }

  .is-mobile {
    display: none;
  }

  div#more div.navbar-link {
    margin-right: 0px;
    padding-right: 0px;
    display: block;
  }

  .navbar-item.has-dropdown.is-hoverable.is-mobile {
    display: none;
  }

  .navbar-item.has-dropdown.is-hoverable.is-desktop {
    display: flex;
    flex-flow: nowrap;
  }

  .navbar-dropdown {
    box-shadow: var(--shadow-3);
  }

  .navbar > .navbar-brand {
    justify-content: flex-start;
  }

  .navbar > .navbar-menu {
    justify-content: flex-end;
  }

  .navbar-end > .navbar-item,
  .navbar-brand > .navbar-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em 2em 0;
  }

  .navbar-item {
    padding: 0.5rem;
  }

  .navbar-link {
    padding-right: 1.5em;
  }

  .navbar-link::after {
    display: none;
  }
}

.charsmenu {
  display: none;
  padding: 0 1em;
}

.charsmenu ul {
  display: flex;
  padding: 0 1em;
}

.charsmenu li {
  text-align: center;
  font-size: var(--font-size-fluid-0);
  margin: 1px;
  padding: 0 0.5em;
  cursor: pointer;
  list-style-type: none;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--surface-4);
  vertical-align: middle;
  color: var(--text-2);
  background-color: var(--surface-2);
}

.charsmenu li:hover {
  background-color: var(--cyan-200);
  border: var(--border-size-1) solid var(--surface-4);
  box-shadow: var(--inner-shadow-1);
}

input#search-input {
  background-image: url(../img/search-outlined.svg);
  background-color: var(--surface-2);
  background-position: 1em;
  background-repeat: no-repeat;
  color: var(--text-2);
  font-family: inherit;
  font-size: var(--font-size-fluid-0);
  height: 2.2rem;
  width: 200px;
  border: 1px solid var(--cyan-600);
  line-height: 1.3;
  padding-left: 2.5em;
  text-align: start;
  border-radius: 53px;
  border-radius: var(--border-radius-4);
}

.navbar-item > .search {
  display: flex;
  flex-flow: row-reverse wrap;
}

@media screen and (min-width: 769px) {
  #search-input {
    min-width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  #search-input {
    min-width: 400px;
  }

  .navbar-item > .search {
    flex-flow: row;
  }

  .navbar-end .navbar-link,
  .navbar-end > .navbar-item,
  .navbar-brand .navbar-link,
  .navbar-brand > .navbar-item {
  }
}

.navbar-burger span {
  background-color: var(--text-2);
}

#search-input:focus {
  outline: none;
}

::placeholder {
  padding-left: 2rem;
}

.btn-circle {
  background-color: unset;
  /* inline-size: var(--size-2); */
  /* aspect-ratio: var(--ratio-box); */
  /* border-radius: var(--radius-round); */
  border: none;
  padding-inline: 0px;
  padding: 0px;
}

.navbar .icon,
img.icon,
.navbar img.icon.color {
  filter: invert(var(--navbar-menu-icon-filter));
}
.theme-cycle {
  background: var(--icon-url) no-repeat 50%;
  background-size: 40%;
  border: none;
  outline: none;
  padding: 0px;
  line-height: inherit;
  height: var(--navbar-height);
  width: var(--navbar-height);
  filter: invert(var(--filter-invert));
}
