.page-languages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
  margin-top: 0.5rem;
  font-size: small;
}

ul.language {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

ul.language li {
  padding: 0.5rem;
}

.language a {
  text-decoration: none;
}

.language li:hover {
  background-color: var(--navbar_hover-background);
}

.language-menu-toggle {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5rem;
  z-index: var(--z-index-page-version-menu);
}

.language-menu-toggle::after {
  content: "⇆";
  padding-left: 1rem;
}

.language-menu {
  display: flex;
  align-items: flex-start;
}

.page-languages:not(.is-active) .language-menu {
  display: none;
}

.page-languages .language.is-current {
  display: none;
}

.page-languages .language.is-missing {
  display: none;
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: none;
}
