.search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  right: 0;
  left: inherit;
  top: 100%;
  border-radius: var(--radius-2);
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  color: var(--text-2);
  border: none;
  max-width: 600px;
  min-width: 500px;
  box-shadow: var(--shadow-3);
}

@media screen and (max-width: 1024px) {
  .search-result-dropdown-menu {
    position: absolute;
    top: 120px;
    min-width: calc(100vw - 3.75rem);
    left: 0;
    right: auto;
  }
}

.search-result-dataset {
  position: relative;
  border: 1px solid var(--surface-4);
  background: var(--surface-1);
  border-radius: 4px;
  border-radius: var(--radius-2);
  overflow: auto;
  padding: 0 8px;
  max-height: calc(100dvh - 5.25rem);
  line-height: 1.5;
}

.search-result-item {
  display: flex;
  margin-top: 0.5rem;
}

.search-result-component-header {
  color: var(--text-1);
  border-bottom: 1px solid var(--surface-3);
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.search-result-document-title {
  width: 33%;
  border-right: 1px solid var(--surface-4);
  color: var(--brand);
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  text-align: right;
  position: relative;
  word-wrap: break-word;
}

.search-result-document-hit {
  flex: 1;
  font-size: 0.75rem;
  color: var(--text-2);
}

.search-result-document-hit > a {
  color: inherit;
  display: block;
  padding: 0.55rem 0.25rem 0.55rem 0.75rem;
}

.search-result-document-hit > a:hover {
  background-color: var(--surface-2);
}

.search-result-document-hit .search-result-highlight {
  color: var(--gray-7);
  background-color: var(--color-accent);
  padding: 0.1em 0.05em;
  font-weight: 500;
}

.search-result-document-hit .search-result-section-title {
  color: var(--text-1);
  font-weight: 500;
  font-size: 1.05em;
  margin-bottom: 0.25em;
}

#search-field {
  display: flex;
  flex-flow: column;
}

#search-field .filter {
  background: #fff linear-gradient(180deg, var(--gray-3) 0, var(--gray-3)) no-repeat 0/1px 50%;
  border: 1px solid var(--surface-3);
  border-left: none;
  border-radius: 0 0.1em 0.1em 0;
  color: var(--gray-6);
  cursor: pointer;
  font-size: 0.875em;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}

#search-field.has-filter>input {
  border-radius: 53px;
  border-radius: var(--radius-4);
}

#search {
  width: inherit;
}
