.slides > a.home-link {
  display: block;
  position: absolute;
  top: 4px;
}

.toolbar.slides {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.toolbar.slides > button {
  margin: 0;
  display: none;
}

.toolbar.slides .nav-toggle {
  height: 0;
  width: 0;
}

@media screen and (max-width: 1023px) {
  /* disable this for now */
  .toolbar.slides {
    height: var(--toolbar-height);
    height: 1px;
    background-color: transparent;
    max-width: fit-content;
    position: absolute;
    box-shadow: none;
    visibility: hidden;
  }

  .slides > a.home-link {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .toolbar.slides {
    height: 1px;
  }

  .slides > a.home-link {
    display: none;
  }
}

.content.wide {
  justify-content: center;
  flex-basis: 100%;
}

@media screen and (max-width: 1023px) {
  .revealjs iframe,
  article.doc.revealjs {
    /* height: var(--nav-height) !important; */
    height: calc(var(--viewport-height) - var(--navbar-height) - var(--toolbar-height) - var(--footer-height-mobile));
    width: 100% !important;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .revealjs iframe,
  article.doc.revealjs {
    /* height: var(--nav-height--desktop); toolbar is only 1 px here*/
    height: calc(var(--viewport-height) - var(--navbar-height)  - var(--footer-height-desktop) - 40px);
    width: 100% !important;
  }
}
