/* eslint-disable */
.tabs ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.tabs li {
  cursor: pointer;
  display: flex;
  font-weight: 400;
  font-size: var(--font-size-fluid-0);
  line-height: 1;
  padding: 0.5rem 0.7rem;
  position: relative;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.tabs li,
.tabs ul {
  flex-flow: nowrap;
}

.tabs.ulist li {
  margin-bottom: 0;
  color: var(--toolbar-muted-color);
}

.tabs.ulist li.is-active {
  background-color: var(--body-background);
  color: var(--text-2);
  color: var(--toolbar-font-color);
  border-bottom: none;
}

.tabs.ulist li + li {
  margin-top: 0;
}

.tabset.is-loading .tabs li:first-child::after,
.tabs li.is-active::after {
  background-color: var(--body-background);
  content: '';
  display: block;
  /*  height: 3px; */ /* Chrome doesn't always paint the line accurately, so add a little extra */
  position: absolute;
  /*  bottom: -1.5px;  */
  left: 0;
  right: 0;
}

.tabset > .content {
  border: 1px solid var(--blue-600);
  padding: 1.25rem;
  border-radius: 0 20px 20px 20px;
}

.tabset.is-loading .tab-pane:not(:first-child),
.tabset:not(.is-loading) .tab-pane:not(.is-active) {
  display: none;
}

.tab-pane > :first-child {
  margin-top: 0;
}

/* align language tabs on toolbar with page */
div#page-lang.tabs.ulist ul {
  margin-bottom: 0px;
}

/* html.is-clipped-nav > body.article > div.toolbar > div#page-lang { */
/*   display: none; */
/* } */
/**/
/* div#page-lang { */
/*   display: block; */
/* } */

/* @media screen and (min-width: 1024px) { */
/*   padding: 0.5rem 1rem; */
/* } */
