:where(html) {
  --size-header-1: 25ch;
  --size-header-2: 45ch;
  --size-header-3: 55ch;
  --size-content-1: 50ch;
  --size-content-2: 65ch;
  --size-content-3: 85ch;
  --size-content-c: clamp(45ch, 80%, 85ch);
  --font-lineheight-3: 1.5;

  /* light */
  --brand-light: var(--cyan-600);
  --magneta-light: var(--magenta-600);
  --cyan-light: var(--cyan-600);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --text-3-light: var(--gray-6);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;
  --filter-invert-light: 0;
  --icon-url-light: url('../img/sun.svg');

  /* dark */
  --brand-dark: var(--magenta-400);
  --magneta-dark: var(--magenta-400);
  --cyan-dark: var(--cyan-400);
  --text-1-dark: var(--gray-1);
  --text-2-dark: var(--gray-2);
  --text-3-dark: var(--gray-3);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-9);
  --surface-4-dark: var(--gray-8);
  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;
  --filter-invert-dark: 0.8;
  --icon-url-dark: url('../img/moon.svg');

  /* dim */
  --brand-dim: var(--cyan-500);
  --magneta-dim: var(--magenta-500);
  --cyan-dim: var(--cyan-500);
  --text-1-dim: var(--gray-1);
  --text-2-dim: var(--gray-2);
  --text-3-dim: var(--gray-3);
  --surface-1-dim: var(--gray-8);
  --surface-2-dim: var(--gray-7);
  --surface-3-dim: var(--gray-6);
  --surface-4-dim: var(--gray-5);
  --surface-shadow-dim: var(--gray-9-hsl);
  --shadow-strength-dim: 20%;
  --filter-invert-dim: 0.8;
  --icon-url-dim: url('../img/sunset.svg');
  /*  color-scheme: light; */
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --magneta: var(--magneta-light);
  --cyan: var(--cyan-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --text-3: var(--text-3-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --filter-invert: var(--filter-invert-light);
  --icon-url: var(--icon-url-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --magneta: var(--magneta-dark);
    --cyan: var(--cyan-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --text-3: var(--text-3-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --filter-invert: var(--filter-invert-dark);
    --icon-url: var(--icon-url-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --magneta: var(--magneta-light);
  --cyan: var(--cyan-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --text-3: var(--text-3-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --filter-invert: var(--filter-invert-light);
  --icon-url: var(--icon-url-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --magneta: var(--magneta-dark);
  --cyan: var(--cyan-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --text-3: var(--text-3-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --filter-invert: var(--filter-invert-dark);
  --icon-url: var(--icon-url-dark);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --brand: var(--brand-dim);
  --magneta: var(--magneta-dim);
  --cyan: var(--cyan-dim);
  --text-1: var(--text-1-dim);
  --text-2: var(--text-2-dim);
  --text-3: var(--text-3-dim);
  --surface-1: var(--surface-1-dim);
  --surface-2: var(--surface-2-dim);
  --surface-3: var(--surface-3-dim);
  --surface-4: var(--surface-4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
  --filter-invert: var(--filter-invert-dark);
  --icon-url: var(--icon-url-dim);
 }
