.toc .toc-menu {
  margin: .2rem 0;
  height: var(--toc-height);
  height: auto;
 }

/* toc a.is-active does not seem to work */
.toc .toc-menu a.is-active,
#toc a.is-active {
  background-color: var(--color-accent-light);
  color: var(--gray-7); /* with static background color the text also need to be static */
}

.toc .toc-menu a.is-active {
  border-left-color: var(--cyan-500);
}

.toc .toc-menu a,
#toc .sectlevel2 a {
  color: var(--text-2); /* this needs to change with theme */
  /* padding: 0.3rem 0.5rem 0.3rem 1.5rem; */
  text-decoration: none;
}

/* only side menu has border */
.toc .toc-menu a {
  border-left: 2px solid var(--toc-border-color);
}

.toc .toc-menu a:hover,
#toc a:hover {
  color: var(--gray-7);
  background-color: var(--color-accent);
}

@media screen and (min-width: 1024px) {
  .toc .toc-menu h3 {
    font-size: var(--font-size-2);
  }

  .toc .toc-menu ul {
    font-size: var(--font-size-fluid-0);
  }
}

/* .toc.sidebar .toc-menu ul { */
/*   max-height: calc(100dvh - var(--navbar-height)); */
/* } */
/* .sidebar.toc .toc-menu a { */
/*   display: inline-block; */
/* } */

/* .toc.sidebar .toc-menu ul li { */
/*   margin-top: .4rem; */
/*   padding-top: .4rem; */
/* } */

.dico .toc-menu {
  height: auto;
  /* min-height: calc(100dvh - var(--navbar-height) - var(--toolbar-height)); */
  /* max-height: calc(100dvh - var(--navbar-height) - var(--toolbar-height)); */
 }

/* custom lexique */
.dico .toc-menu ul {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-fluid-0);
  line-height: auto;
  /* max-height: auto; */
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overscroll-behavior: none;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .dico .toc-menu ul {
    display: flex;
    flex-flow: row wrap;
  }
}

.dico .toc-menu ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.dico .toc-menu li {
  display: block;
  margin: 0;
}

.dico .toc-menu li[data-level="1"] {
  flex-basis: 100%;
  flex-shrink: 0;
}

.dico .toc-menu li[data-level="1"] a {
  padding-left: 1rem;
}

.dico .toc-menu a {
  color: var(--doc-font-color);
  border-left: 2px solid var(--toc-border-color);
  text-decoration: none;
}

.lexique .toc-menu li[data-level="2"],
.dico .toc-menu li[data-level="2"] {
  height: 3em;
  width: 3em;
  flex: 0 0 3em;
  display: block;
  text-align: center;
}

.lexique .toc-menu li[data-level="2"] a,
.dico .toc-menu li[data-level="2"] a {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
}

/* .lexique .toc-menu a:hover, */
/* .dico .toc-menu a:hover, */
/* #toc sectlevel1 a:hover { */
/*   color: var(--gray-7); */
/*   background-color: var(--color-accent-light); */
/* } */

/* this seems to be dup of above */
/* .lexique .toc .toc-menu a:hover { */
/*   color: var(--gray-6); */
/*   background-color: var(--color-accent-light); */
/* } */

/* .lexique .toc-menu a.is-active, */
/* .dico .toc-menu a.is-active, */
/* #toc sectlevel1 a.is-active { */
/*   color: var(--gray-6); */
/* } */

/* .lexique .toc-menu a.is-active, */
/* .dico .toc-menu a.is-active { */
/*   border-left-color: var(--color-accent); */
/* } */

.dico .toc-menu a:focus {
  background-color: var(--color-panel-background);
}

.dico .toc-menu a::before {
  display: block;
  content: "";
  top: -1px;
  bottom: -1px;
  left: -2px;
  right: -2px;
  background-color: var(--color-accent);
  z-index: -1;
  transform: scale(0);
  transition: transform 0.2s ease;
  border-radius: 6px;
}

.dico .toc-menu a:hover::before {
  display: block;
  background-color: var(--color-accent);
  transform: scale(1);
}

.dico .toc-menu a.is-active::before {
  display: block;
  background-color: var(--color-navbar-background);
}

.dico ul.sectlevel1 {
  list-style: none;
  padding: 0 0 0 0;
}

.dico ul.sectlevel1 > li:first-child {
  display: none;
}

.dico ul.sectlevel1 > li:nth-child(2) > a {
  display: none;
}

.dico ul.sectlevel1 > li:nth-child(3) > a {
  display: none;
}

.dico ul.sectlevel2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0 0 0 0;
}

.dico ul.sectlevel2 li {
  margin: 0 0.5em;
}

.dico div#toctitle {
  display: none;
}

#toc {
  border-radius: 20px;
  margin-top: 1.5rem;
  background-color: var(--surface-3);
  color: var(--text-2);
}

#toctitle {
  font-family: var(--nav-font-family);
  font-size: 29px;
  padding: 1.25rem 1.25rem 0;
}

#toc .sectlevel1 {
  font-weight: var(--font-weight-5);
  list-style: none;
  padding: 0 1.25rem 1.25rem 1.25rem;
  background-color: var(--sidebar-background);
  border-radius: var(--radius-2);
}

#toc .sectlevel1 > li {
  padding: 0.75rem 0 0;
  font-size: var(--font-size-fluid-0);
}

#toc .sectlevel1 > li a {
  padding: .7rem;
  line-height: 2.5;
}

#toc .sectlevel1 > li a:visited {
  color: var(--link-visited);
}

#toc .sectlevel2 {
  font-weight: var(--font-weight-4);
  padding-top: 0.5rem;
  list-style: none;
}
/* ok so the #toc will target both dico and lexique??  */
