.toolbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--toolbar-background);
  font-size: var(--font-size-fluid-0);
  border: none;
  box-shadow: none;
}

.toolbar a {
  color: var(--toolbar-muted-color);
}

.toolbar .spacer {
  flex-basis: max-width;
  flex-grow: 1;
}

.home-link {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background: url(../img/home-outlined.svg) no-repeat center;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home-filled.svg);
}

.nav-toggle {
  height: 40px;
  width: 40px;
}

.nav-toggle.is-active {
  filter: invert(var(--navbar-menu-icon-filter));
}

@media screen and (min-width: 1024px) {
  .nav-toggle {
    margin-left: 1rem;
    display: none;
  }

  .home-link {
    width: 2.5rem;
  }

  .toolbar {
    font-size: var(--font-size-fluid-0);
    padding: 0 2em 0 1.5em;
  }

  .edit-this-page {
    align-self: center;
    display: flex;
  }
}

.edit-this-page > img {
  display: inline;
}

.pencil {
  background-image: url(../img/pencil.svg);
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  padding: 0 1em;
  vertical-align: middle;
}

img.pencil {
  display: inline;
}

.nav-toggle {
  background: url(../img/collapse-icon-outlined.svg) no-repeat 50% 47.5%;
}

.nav-toggle:not(.is-active):hover {
  background-image: url(../img/collapse-icon-filled.svg);
}

.nav-item-toggle {
  background: transparent url(../img/chevron-right.svg) no-repeat center / 35%;
}

.toolbar-search {
  display: flex;
  align-items: center;
}

.edit-this-page a {
  color: var(--toolbar-muted-color);
}

.edit-this-page:hover a {
  color: var(--blue-7);
  text-decoration: none;
}

.edit-this-page:hover .pencil {
  background-image: url(../img/pencil-filled.svg);
}
