html {
  /* open props fixes */
  --size-header-1: 25ch;
  --size-header-2: 45ch;
  --size-header-3: 55ch;
  --size-content-1: 50ch;
  --size-content-2: 65ch;
  --size-content-3: 85ch;
  --size-content-c: clamp(45ch, 80%, 85ch);
  --font-lineheight-3: 1.5;
  --link: var(--cyan);
  --link-visited: var(--magenta);
  /* colors */
  --color-primary: var(--surface-2);
  --color-secondary: var(--teal-400);
  --color-nav-primary: var(--blue-40);
  --color-accent: var(--cyan-200-hover);
  --color-accent-light: var(--cyan-200);
  /* utils */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --viewport-height: calc(100 * var(--vh, 1vh)); /* used to represent a tunable value of 100vh */
  --viewport-height: 100dvh;
  /* fonts */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size: var(--font-size-1);
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--desktop: var(--font-size-1);
  --body-font-size--print: 0.937em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--text-2);
  --body-font-family: "Lunasima", "Noto Sans", sans-serif;
  --body-font-family: "Alatsi", sans-serif;
  --body-font-family: var(--font-sans);
  --body-font-weight-bold: 700;
  --monospace-font-family: "Noto Sans Mono", monospace;
  --monospace-font-family: var(--font-mono);
  --monospace-font-weight-bold: 700;
  --nav-font-family: "Radio Canada", sans-serif;
  --nav-font-family: var(--font-sans);
  --nav-font-weight: 500;
  /* base */
  --body-background: var(--surface-1);
  --panel-background: var(--surface-2);
  --panel-border-color: var(--surface-3);
  --table-background: var(--surface2);
  --scrollbar-thumb-color: var(--surface-3);
  /* navbar */
  --navbar-background: var(--surface-1);
  --navbar-font-color: var(--text-2);
  --navbar-heading-font-color: var(--text-1);
  --navbar-heading-font-weight: var(--body-font-weight-bold);
  --navbar-hover-background: var(--surface-2);
  --navbar-button-background: var(--surface-1);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--surface-1);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-border-radius: 0 0 0.25rem 0.25rem;
  --navbar-menu-box-shadow: var(--surface-shadow);
  --navbar-menu-background: var(--surface-1);
  --navbar-menu-font-color: var(--navbar-font-color);
  --navbar-menu-icon-filter: var(--filter-invert); /* matches --color-jet-80 */
  --navbar-menu_hover-background: var(--surface-2);
  /* nav */
  --nav-background: var(--surface-2);
  --nav-border-color: var(--surface-1);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--text-1);
  --nav-muted-color: var(--text-3);
  --nav-panel-divider-color: var(--surface-4);
  --nav-secondary-background: var(--surface-3);
  --nav-muted-icon-filter: invert(1); /* matches --color-gray-70 */
  /* toolbar */
  --toolbar-background: var(--surface-2);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-icon-filter: var(--nav-muted-icon-filter);
  --toolbar-font-color: var(--text-2);
  --toolbar-muted-color: var(--text-3);
  --page-version-menu-background: var(--gray-4);
  --page-version-missing-font-color: var(--text-3);
  /* admonitions */
  --caution-color: #ffb784; /* orange-30 */
  --caution-on-color: var(--gray-7);
  --important-color: #be95ff; /* purple-40 */
  --important-on-color: var(--gray-7);
  --note-color: #82cfff; /* cyan-30 */
  --note-color: var(--cyan-300); /* cyan-30 */
  --note-on-color: var(--gray-7);
  --tip-color: #3ddbd9; /* teal-30 */
  --tip-color: var(--teal-300); /* teal-30 */
  --tip-on-color: var(--gray-7);
  --warning-color: #ff7eb6; /* magenta-40 */
  --warning-on-color: var(--gray-7);
  /* doc */
  --doc-font-color: var(--text-2);
  --doc-icon-filter: invert(14.5%); /* matches #242424 */
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-font-size--desktop: calc(18 / var(--rem-base) * 1rem);
  --doc-font-size--desktop: var(--font-size-fluid-0);
  --doc-line-height: 1.3;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --doc-margin--desktop-large: 0 3rem;
  --heading-font-color: var(--text-1);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--link);
  --link-hover-font-color: var(--blue-40);
  --link-unresolved-font-color: var(--important-color);
  --link-unresolved-hover-font-color: #da1e28;
  --abstract-background: var(--surface-2);
  --abstract-font-color: var(--text-2);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--surface-2);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--text-2);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--surface-2);
  --example-border-color: var(--gray-6);
  --kbd-background: var(--surface-2);
  --kbd-border-color: var(--surface-4);
  --pre-background: var(--surface-2);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--text-2);
  --quote-background: var(--surface-2);
  --quote-border-color: var(--cyan);
  --quote-font-color: var(--text-2);
  --quote-attribution-font-color: var(--text-3);
  --sidebar-background: var(--surface-3);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--surface-3);
  --table-footer-background: var(--surface-2);
  /* toc */
  --toc-font-color: var(--text-1);
  --toc-heading-font-color: var(--text-2);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--surface-2);
  --footer-font-color: var(--text-3);
  --footer-link-font-color: var(--brand);
  /* dimensions and positioning */
  --navbar-height: 4rem;
  --toolbar-height: 3.5rem;
  --drawer-height: var(--toolbar-height);
  --footer-height-desktop: 4rem;
  --footer-height-mobile: 6rem;
  --body-top: var(--navbar-height);
  --body-min-height: calc(100dvh - var(--body-top));
  --nav-height: calc(100dvh - var(--navbar-height));
  --nav-height--desktop: calc(100dvh - var(--navbar-height));
  --nav-panel-menu-height: calc(100dvh - var(--navbar-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  /* unused with grid */
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --nav-width: calc(324 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-top: var(--body-top);
  --toc-top: 0rem;
  --toc-height: calc(100dvh - var(--navbar-height) - 3.5rem - 4rem);
  --toc-height: 100dvh;
  --toc-width: calc(190 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  /* --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem); */
  --doc-max-width--desktop: calc(1080 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
  --z-index-footer: 5;
  /* social media colors */
  --facebook-color: #3b5998;
  --github-color: #171515;
  --gitlab-color: #fca326;
  --google-color: #dd4b39;
  --linkedin-color: #0e76a8;
  --rss-color: #ee802f;
  --twitter-color: #00aced;
}
